
html, body, main {
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  height: 90%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
  font-weight: 700;
}

form {
  width: 100%;
  height: auto;
}

.container-fluid {
  padding: 0;
}

.font1-5rem {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-label {
  color: #424242;
}

.btn.font1-5rem {
  margin: 20px 0 0;
}

.flex-center-hor {
  display: flex;
  justify-content: center;
  height: auto;
}

.flex-center-ver {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fixed-right-leftrounded {
  position: fixed;
  height: 9vh;
  width: 9vh;
  right: 0;
  top: 12vh;
  border-radius: 50% 0 0 50%;
}

.full-height {
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f7b320;
}

::-webkit-scrollbar-thumb:hover {
  background: #bb8717;
}

/* Nav bar */
.navbar {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 10px;
}

.logo-img {
  height: 7vh;
  min-height: 50px;
}

/* Games to choose - root */

.games {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.saboteur-cover {
  margin: 1vh;
  width: 30vw;
  max-width: 400px;
  border-radius: 15px;
}

@media (max-width: 550px) {
  .games {
    flex-direction: column;
  }
}

/* Games List */
.table-container {
  height: auto;
  max-height: 60vh;
  margin-top: 8vh;
  overflow-y: auto;
}

/* New Game */
.form-container  {
  background-color: #f8f9fa;
  border-radius: 10px;
  height: 100%;
  margin-top: 5vh;
  padding: 0.5rem 1rem;
}

.form-container, .form-control, .form-select {
  font-size: 1.1rem;
}

.form-input-separator {
  margin: 2.5vh 0;
}

/* The game */
.add-space-bottom{
  padding-bottom: 30vh;
}

.board {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 2vh;
  height: auto;
  width: auto;
}

.card-array1 {
  background-image: url(./images/pic1v5.jpg);
}

.card-array2 {
  background-image: url(./images/pic2v5.jpg);
}

.card-gold-rewers {
  background-position-x: -101px;
  background-position-y: -142px;
}

.card-tunnel-rewers {
  background-position-x: -201px;
  background-position-y: -142px;
}

.card-enter {
  background-position-x: -51px;
}

.field-card {
  background-repeat: no-repeat;
  background-size: 352px; 
}

.field-playing-card {
  background-repeat: no-repeat;
  background-size: 452px;
}

.field {
  border-radius: 3px;
  height: 70px;
  width: 50px;
  background-color: #282c34;
}

.icon {
  font-size: min(5vw, 2rem);
  padding: 5px;
  text-align: center;
}

.icon-active {
  color: #2a8a2a;
}

.icon-deactive {
  color: #7a1f1f;
}

.list-small {
  height: 30%;
  overflow-y: scroll;
}

.player {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  margin: 5px;
  text-align: center;
  width: fit-content;
}

.player>p {
  font-size: min(2vw, 0.8rem);
  margin: 0;
}

.player-active {
  color: #cfcfcf;
}

.player-deactive {
  color: #636262;
}

.playing-area {
  display: inline-grid;
  grid-template-columns: 20% 50% 30%;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.playing-card {
  border-radius: 5px;
  height: 90px;
  width: 65px;
  margin: 1vh;
}

.row.fixed-bottom {
  border-top: #cfcfcf 2px solid;
  background-color: #282c34;
  margin: 5px;
}

@media (min-height: 800px) {
  .card-gold-rewers {
    background-position-x: -136px;
    background-position-y: -191px;
  }
  
  .card-tunnel-rewers {
    background-position-x: -271px;
    background-position-y: -191px;
  }
  
  .card-enter {
    background-position-x: -68px;
  }

  .field {
    border-radius: 6px;
    height: 95px;
    width: 68px;
  }
  
  .field-card {
    background-size: 475px; 
  }
  
  .field-playing-card {
    background-size: 600px;
  }

  .playing-card {
    border-radius: 8px;
    height: 120px;
    width: 86px;
  }
}

/* messanger */
.messanger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  max-height: 40vh;
  min-height: 250px;
}

.mssg {
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.mssg-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mssg-footer {
  display: flex;
  flex-direction: column;
}

.mssg-options {
  display:inline-block;
  font-weight:400;
  line-height:1.5;
  color:#212529;
  text-align:center;
  text-decoration:none;
  vertical-align:middle;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  background-color:transparent;
  border:1px solid transparent;
  padding:.375rem .75rem;
  font-size:1rem;
  transition:color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  color:#6c757d;
}

.mssg-options:hover {
  color:#fff;
  background-color:#6c757d;
  border-color:#6c757d
}

.mssg-options:active {
  color:#fff;
  background-color:#6c757d;
  border-color:#6c757d
}

.mssg-text {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px #c2c1c1 solid;
}

.mssg-send {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message-left {
  box-shadow: -2px 1px 5px -2px #575757;
  border-radius: 10px 10px 10px 0;
}

.message-right {
  box-shadow: 2px 1px 5px -2px #575757;
  margin-left: auto;
  border-radius: 10px 10px 0 10px;
}

.player-name {
  font-weight: bold;
}