html, body, #app {
  height: 100%;
}

a {
  color: transparent;
}

a:hover {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.font1-5rem {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn.font1-5rem {
  margin: 20px 0;
}

/* Nav bar */
.navbar {
  font-family: "Ubuntu", sans-serif;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 10px;
}

.logo-img {
  height: 7vh;
  min-height: 50px;
}

/* Games to choose - root */

.games {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.saboteur-cover {
  margin: 1vh;
  width: 30vw;
  max-width: 400px;
  border-radius: 15px;
}

@media (max-width: 550px) {
  .games {
    flex-direction: column;
  }
}

/* Games List */
.table {
  margin-top: 8vh;
}